<div class="home">
    <div class="jumbotron">
        <div class="container text-center">
            <h1>My Heroku App Test</h1>
            <p>Some sub headline text as description..</p>
        </div>
    </div>

    <div class="week" ng-repeat="week in $hc.weeks">
        <div class="weekday" ng-repeat="day in week.weekDays">
            <header>{{day.name}} {{day.number}}</header>
            <div class="day">

            </div>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center" ng-hide="$hc.issues">
        <h3>Some Headline Here</h3>

        <form name="loginForm" class="col-xl-3 col-lg-4 col-md-6 col-sm-9 text-left" novalidate ng-submit="$hc.login(loginForm)">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" ng-model="$hc.username" aria-describedby="emailHelp" placeholder="Enter email"
                    autofocus>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="$hc.password" placeholder="Password">
            </div>
            <p class="text-danger small">{{$hc.errorMsg}}</p>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container-fluid bg-3 text-center" ng-show="$hc.issues">
        <h3>Another Headline Placed</h3>

        <div class="issuesBox col-lg-7 col-md-8 text-left">
            <h2 class="text-center">{{$hc.issues[0].project.name}}</h2>

            <div class="issues-options">
                Here will be the issues

                <div class="issue" ng-repeat="issue in $hc.issues">
                    {{issue.subject}}
                </div>
            </div>
        </div>


        <div class="calendarBox col-lg-8 col-md-9 text-left">
                <div class="ibox-content">
                        <div id='external-events'>
                            <p>Drag a event and drop into calendar.</p>
                            <div id="evt1" class='external-event navy-bg'>Development.</div>
                            <div id="evt2" class='external-event navy-bg'>Meetings.</div>
                            <div id="evt3" class='external-event navy-bg'>Other.</div>
                            <div id="evt4" class='external-event navy-bg'>Something Else.</div>
                            <div id="evt5" class='external-event navy-bg'>One more for luck.</div>
                        </div>
                    </div>
            <div calendar-tracker id='calendar'></div>
        </div>

        
    </div>
</div>