<div class="home">
    <div class="jumbotron">
        <div class="container text-center">
            <h1>My Heroku App Test</h1>
            <p>Some sub headline text as description..</p>
        </div>
    </div>

    <div class="container-fluid bg-3 text-center" ng-hide="$hc.issues">
        <h3>Some Headline Here</h3>

        <form name="loginForm" class="col-xl-3 col-lg-4 col-md-6 col-sm-9 text-left" novalidate ng-submit="$hc.login(loginForm)">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" ng-model="$hc.username" aria-describedby="emailHelp" placeholder="Enter email"
                    autofocus>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="$hc.password" placeholder="Password">
            </div>
            <p class="text-danger small">{{$hc.errorMsg}}</p>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container-fluid bg-3 text-center" ng-show="$hc.issues">

        <div class="issuesBox col-lg-7 col-md-8 text-left">
            <h2 class="text-center">{{$hc.issues[0].project.name}}</h2>

            <div class="issues-options">
                Here will be the issues

                <div class="issue" ng-repeat="issue in $hc.issues">
                    {{issue.subject}}
                </div>
            </div>
        </div>
        <div class="time-calendar" ng-init="currentView = 0">
            <div class="arrowed" ng-style="{'visibility': currentView != 0 ? 'visible' : 'hidden'}" ng-click="(currentView > 0) ? currentView = currentView -1 : currentView = 0">
                    <div class="arrow-1 left"></div>
            </div>
            <div class="calendar">
                <div class="week" ng-repeat="week in $hc.weeks" ng-show="currentView === $index">
                    <div class="weekday" ng-repeat="day in week.weekDays;" ng-hide="day.day===0 || day.day===6" ng-class="{'no-active': !day.date}">
                        <header>{{day.name}} {{day.date}}</header>
                        <div class="day">
                            <div class="time activity-{{time.activity.id}}" ng-if="day.date" ng-repeat="time in $hc.entries | filter: {date: day.date}: true ">
                                <span>{{time.title}}</span>

                                <div>
                                    <span class="hours">Hours:
                                        <span class="hour-value">{{time.duration}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="day-footer" ng-if="day.date">
                            <span>Total: {{$hc.getTotal(day.date)}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrowed" ng-style="{'visibility': currentView < $hc.weeks.length-1 ? 'visible' : 'hidden'}" ng-click="(currentView < 2) ? currentView = currentView +1 : currentView = 2">
                    <div class="arrow-1 right"></div>
            </div>
        </div>
    </div>
</div>